.newsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    color: #2C3E50;
    flex: 1 0 320px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    h1 {
        color: #2C3E50;
    }
}

.newItemReserved {
    color:#DDD;
}

button{
    display: flex;
    justify-content: center;
    border: none;
    height: 40px;
    width: 150px;
    background: #A7FF83;
    color: #273746;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
}
button:hover {
    cursor: pointer;
    background:#58D68D;
}
