.admin_home {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: space-around;
}
.home_news {
    display:flex;
    height: 200mh;
    width: 600mw;
    border: 2px solid #071A52;
    border-radius: 25px;
    margin:10px;
}
.home_jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_done, .home_ongoing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: 2px solid #071A52;
    border-radius:25px;
    margin:10px;
}