.user_home {
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
    h1 {
        height: 85%;
        width: 100%;
    }
}
.home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
}
.home_offers, .home_jobs, .home_contact, .home_profile {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    color: #2C3E50;
    flex: 1 0 320px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    h1 {
        display:flex;
    }
}