.App {
  font-family: 'Handlee';
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  color:#291f71;
  height: 40vmin;
}

.App-header {
  background-color: #5b90f8;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
