.contactPage {
    height: 80%;
    width: 80%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    border: 5px solid #086972;
    border-radius: 25px;
}
