.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: 'Handlee', cursive;
    font-size: 60%;
    text-align: center;
    background-color: #D5F5E3;
    height: 10vh;
    min-height: 5vh;
    font-size: calc(8px + 2vmin);
    color: #2C3E50;
  }