.news_form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    background: transparent;
    font-size: 20px;
  form {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    color: #2C3E50;
    flex: 1 0 320px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  h1 {
    font-size: 25px;
    color: #2C3E50;
  }
  input{
    font-family: 'Handlee';
    font-size: 20px;
    color: #2C3E50;  
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 3vh;
    width: 50vw;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
  }
  .submit_new {
    font-family: 'Handlee';
    border: none;
    height: 40px;
    width: 150px;
    background: #ABEBC6;
    color: black;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
  }
  .submit_new:hover {
    cursor: pointer;
    background:#58D68D;
    font-weight: bold;
  }
}
.alert {
  font-family: 'Handlee';
  padding: 20px;
  background-color: #ABEBC6;
  color:  #2C3E50;
}
.closebtn {
  margin-left: 15px;
  color:  #2C3E50;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}

@media only screen and (min-width: 600px){
  .news_form {
    h1 {
      font-size: 30px;
    }
    input{
      font-size: 25px;
    }
  }
}