.nav_bar {
  padding:0;
  margin:0;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end;
}

.news, .jobs, .contact {
  font-size: bold;
  padding: 20px;
  margin: 25px;
  text-decoration: none;
}
.profile {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.news:hover, .jobs:hover, .contact:hover, .profile:hover {
  background: #A7FF83;
  font-size: 25px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

