.nav {
  width: 80%;
  height: 80%;
  float: right;
  max-width:1000px;
  background: #17B978;
}
.navMenu i {
  display:none;
}
.nav_bar {
  padding:0;
  margin:0;
  font-weight: bold;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  ul li {
    display:block;
		float:none;
    text-decoration: none;
    /*overflow:hidden;
    list-style:none;
    float:left;*/
  }
  i {
    margin: 10px;
  }
  .news_nav, .jobs_nav, .contact_nav, .profile_nav, .notif_nav, .search_nav, a {
    display:flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-size: bold;
    border: 2px solid #A7FF83;
    border-radius: 25px;
    padding: 20px;
    margin: 25px;
    text-decoration: none;
  }
  .news:hover, .jobs:hover, .contact:hover, .profile:hover, a:hover{
    font-size: 25px;
    border-radius: 25px;
    background: #A7FF83;
  }
  /*.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }*/
}
@media only screen and (min-width: 600px){
  .nav {
    width: 80%;
    float: right;
    max-width:1000px;
  }
  .navMenu i {
    display:none;
  }
  ul li {
    .news_nav, .jobs_nav, .contact_nav, .profile_nav, .notif_nav, .search_nav, a {
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      font-size: bold;
      border: 2px solid #A7FF83;
      border-radius: 25px;
      padding: 20px;
      margin: 25px;
      text-decoration: none;
    }
    .news:hover, .jobs:hover, .contact:hover, .profile:hover, a:hover{
      font-size: 25px;
      border-radius: 25px;
      background: #A7FF83;
    }
  }
  .navMenu a {

  }
}

/*@media screen and (min-width: 992px){
  .navMenu i {
  position:absolute;
  float: left;
  padding: 2px;
  margin: 10px;
  color:#A7FF83;
  font-weight: bold;
  font-size:60px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.navMenu:hover{
  border-radius: 25px;
  background: #086972;
}
  .navMenu i {
    display:none;
  }
  .news_nav, .jobs_nav, .contact_nav, .profile_nav, .notif_nav, .search_nav, a {
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-size: bold;
    border: 2px solid #A7FF83;
    border-radius: 25px;
    padding: 20px;
    margin: 25px;
    text-decoration: none;
  }
  .news:hover, .jobs:hover, .contact:hover, .profile:hover, a:hover{
    font-size: 25px;
    border-radius: 25px;
    background: #A7FF83;
  }
}*/
