.menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.offer_nav, .jobs_nav, .contact_nav, .profile_nav, .notif_nav, .search_nav, .create_nav, .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #2C3E50;
  flex: 1 0 150px;
  max-width: 170px;
  i {
    margin: 10px;
  }
}
.offer_nav:hover, .jobs_nav:hover, .contact_nav:hover, .profile_nav:hover, .search_nav:hover, .notif_nav:hover, .logout:hover{
  font-size: 20px;
  border-radius: 25px;
  background: #ABEBC6;
  color:#273746;
}